* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu_container {
  background-color: #424141;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
/* .menu_logo {
  align-items: center;
} */
.logo_img {
  width: 120px;
  margin-top: 6px;
}

.menu_all {
  list-style: none;
  display: flex;
  align-items: center;
}

.single_menu {
  margin-right: 20px;
  /* text-transform: uppercase; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.single_menu a {
  text-decoration: none;
  color: white;
}

.single_menu a:hover {
  color: yellow;
}

.hero_section {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  /* border: 2px solid blue; */
  align-items: center;
  background-image: url("../images/background.png"),
    linear-gradient(45deg, #1a1515, #1d1818);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient(45deg, #000, #000); */
}

#design_text {
  font-size: 55px;
  font-size: 400;
  color: #fff;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

#hero_pera {
  font-size: 18px;
  color: #fff;
  margin: 18px 0;
}

.btn {
  padding: 12px 20px;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.banner_img {
  width: 300px;
}

.about_container {
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.h1_text {
  text-align: center;
  font-size: 55px;
  font-size: 400;
  margin-top: 25px;
}

.about_img {
  width: 300px;
}

.about_h1_two {
  font-size: 40px;
  font-weight: 400;
}

.about_prea {
  margin: 20px 0;
  font-size: 18px;
}

.box_container {
  background-image: url("../images/background.png"),
    linear-gradient(45deg, #161616, #1a1919);
  height: 500px;
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
}

.box_container h1 {
  text-align: center;
  font-size: 55px;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 25px;
}

.box_all {
  display: flex;
  justify-content: space-around;
  /* margin-top: 100px; */
}
.box1 {
  height: 300px;
  width: 250px;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 15px;
  box-shadow: 4px 5px 80px gray;
  transition: 0.3s ease-in-out;
}

.box1:hover {
  box-shadow: 4px 5px 80px white;
  border: 1px solid wheat;
  background-color: red;
  transition: 0.3s ease-in-out;
  width: 251px;
}

.img_icon {
  width: 70px;
}

.box_heading {
  margin: 10px 0;
}

.vox_pera {
  margin-bottom: 15px;
}

.box_btn {
  /* margin-top: 2px; */
  padding: 10px;
  /* font-weight: 300; */
  background-color: #1a1515;
  color: #fff;
  border: none;
}

footer {
  background-color: #000;
}

.footer_container {
  display: flex;
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  color: white;
  border-bottom: 1px solid gray;
  /* display: flex;
  background-color: #000;
  color: white;
  /* justify-content: space-around; */
  /* align-items: center;
  gap: 50px;
  height: 400px;
  padding-left: 180px; */
}

.footer_img {
  width: 180px;
  margin-bottom: 35px;
}

.footer_pera {
  font-size: 17px;
}

/* .footer_2nd_info li {
  list-style: none;
  margin-top: 15px;
} */
.fli {
  list-style: none;
  margin-top: 7px;
}

.h3f {
  margin-bottom: 20px;
}
.h4f {
  margin-bottom: 25px;
}
.h5f {
  margin-bottom: 30px;
}
.h6f {
  margin-bottom: 30px;
}

.footer_third_info {
  margin-top: 25px;
}

.footer_third_info li {
  list-style: none;
  padding-bottom: 5px;
}
.footer_four_info {
  margin-top: 10px;
}

.footer_four_info li {
  list-style: none;
  padding-bottom: 7px;
}

.copy {
  text-align: center;
  padding: 15px;
  color: white;
}
